.container {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  font-size: 18px;
  align-items: center;
  border: none;
}

.close {
  border: none;
  background-color: transparent;
  position: absolute;

  width: 30px;
  height: 30px;
  font-size: 20px;
}

@media screen and (max-width: 430px) {
}
