.container {

  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: flex-start;
  border: none;
}

.image {

  border-radius: 10px;
  aspect-ratio: 3/2;
  object-fit: fill;
}

.empty {
 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  border: none;
  aspect-ratio: 3/2;
}

.close {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

@media screen and (max-width: 430px) {
}
