.container {
  height: 100vh;
  width: 100%;
  background: white;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: -10vh; */
}
.outputCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
}
.Col{
margin-top: 10%;
}
 
.row1 {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;

}